NEXT_PUBLIC_SUPABASE_URL=https://uumzkkaenlnnqhyoygco.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0hrkey8FF1gpQN1bsyF71g_MEkDVZ6U
# Falls du OpenAI oder andere AI-Keys im Backend nutzt:
OPENAI_API_KEY=pvJ0tZZumkM5XpiOHkSTu9oXlQ1xkyGU